.col-lg-2
.col-lg-8{"ng-app" => "fileUpload", "ng-controller" => "MyCtrl"}
  %h3.paddingbottom10 Upload CSV
  .box
    %form{:enctype => "multipart/form-data", "ng-submit" => "upload(files)"}
      %label{:for => "uploadFile"} File
      %br/
      .input-group
        %span.input-group-btn
          %span.btn.btn-primary.btn-file
            Browse…
            %input#file{:accept => ".csv", "ng-disabled" => "loading", "ng-model" => "files", "ngf-multiple" => "false", "ngf-select" => "", :required => "", :style => "width:250px;height:10%;", :type => "file"}/
        %input#uploadFile.form-control{:name => "uploadFile", :placeholder => "No file chosen", :readonly => "readonly", :type => "text", :value => ""}/
      %br/
      .form-group
        %label{:for => "blastingDate"} Blasting Date
        .input-group.date.upload
          %input#blastingDate.form-control{:name => "blastingDate", "ng-model" => "blastingDate", :placeholder => "", :required => "", :type => "text"}/
          .input-group-addon
            %i.fa.fa-calendar
      %div.text-center
        %button#submit.btn.btn-lg.:{:class => "{{loading ? 'disabled' ''}}", :name => "Send", :type => "submit"}
          %span{"data-ng-hide" => "loading"}
            Upload
          %span{"data-ng-show" => "loading"}
            Uploading
            %i.fa.fa-spinner.fa-pulse
      %br/
    %p.text-center
      %strong Upload CSV file with format:
      %br
      Mobile Number, Account, Amount, Name, Type
      %br
      9175888934, 75469083, 1234.56, Pumir Mauricio, Mobile/Landline
  #modal-success.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title {{ modal_title }}
        .modal-body{"ng-bind-html-unsafe" => "html"}
          {{ modal_message }}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Ok
.col-lg-2
