.release-timeline
  .release.label-latest
    .release-meta
      %span.release-label.latest
        %span{:href => "/twbs/bootstrap/releases/latest"} Latest release
    / /.meta
    .release-body.commit.open
      .release-header
        %h1.release-title
          %span v2.1
      .markdown-body
        %h3 Mar 10, 2016
        %ul
          %li>
            Broadcast schedule
            %code 8:00AM – 6:00PM (UTC+08:00)
            implemented
          (*on selected apps only)
          = succeed "(*on" do
            %li
              Cut-off time for uploading CSV at
              %code 10:00AM (UTC+08:00)
              implemented
          %li Error checking for mobile numbers improved
          %li
            Change
            %code Answered
            to
            %code No Option
            on Selected Options page
          %li Set retry times to 1 - 1st attempt
          %li Set retry times to 4 - 2nd attempt
          %li Removed SMS Sent module
          %li
            Removed
            %code Project
            in title
          %li Blasting Summary: Added delete option for accounts that have not been blasted yet
          %li Added Release Notes page
          %li Added tool tip on Uploaded Date
    / /.release-body
  / /.release
  .release.label-latest
    .release-meta
    / /.meta
    .release-body.commit.open
      .release-header
        %h1.release-title
          %span v2.0
      .markdown-body
        %h3 Sep 1, 2015
        %ul
          %li New Template
          %li Process Date for uploaded accounts
          %li Implement Second Attempt monitor
          %li Implement unprocessed accounts for First Attempt monitor
          %li Unprocessed Cleaner
          %li Fix Batch Size
    / /.release-body
  / /.release
  .release.label-latest
    .release-meta
    / /.meta
    .release-body.commit.open
      .release-header
        %h1.release-title
          %span v1.2
      .markdown-body
        %h3 July 1, 2015
        %ul
          %li Bug fixes
    / /.release-body
  / /.release
  .release.label-latest
    .release-meta
    / /.meta
    .release-body.commit.open
      .release-header
        %h1.release-title
          %span v1.0
      .markdown-body
        %h3 May 1, 2015
        %ul
          %li Initial Launch
    / /.release-body
  / /.release
