.col-md-4
.col-md-4
  %h2 Log in
  .box
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: "form-control", required: "", autocomplete: "off"
      .form-group
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off", class: "form-control", required: ""
      - if devise_mapping.rememberable?
        .form-group
          = f.check_box :remember_me
          = f.label :remember_me
      = f.submit "Sign in", class: "btn btn-primary"
  = render "devise/shared/links"
.col-md-4
