/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
@import "bootstrap";

.navlight {
	background-color: #fff;
}

.box-plain{min-height:20px;padding:15px;}

.gc-user-holder {background-color:#1d65b7; color:#fff}

.box{min-height:20px;padding:15px;background-color:#fff;border:1px solid #e3e3e3;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #F1F2F7;
  color: #767676;
  font-size:14px;
	line-height: 22px;
	font-family: 'PT Sans', sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  color: #aeb2b7;
  background: #32323A;
  border-top: 2px solid #444;
}

.paddingtop20{padding-top:70px!important;}

.paddingtop40{padding-top:40px!important;}
.paddingtop100{padding-top:100px!important;}
.paddingbottom40{padding-bottom:40px!important;}
.paddingbottom10{padding-bottom:10px!important;}

a.white{color:#fff; text-decoration: underline;}
.gc-user-holder a:hover {color:#fff;}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.btn-gc{
  border: 2px solid #fff;
  padding: 7px 80px;
  border-radius:16px;
  background: rgba(0,166,185,1);
background: -moz-linear-gradient(top, rgba(0,166,185,1) 0%, rgba(24,83,163,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,166,185,1)), color-stop(100%, rgba(24,83,163,1)));
background: -webkit-linear-gradient(top, rgba(0,166,185,1) 0%, rgba(24,83,163,1) 100%);
background: -o-linear-gradient(top, rgba(0,166,185,1) 0%, rgba(24,83,163,1) 100%);
background: -ms-linear-gradient(top, rgba(0,166,185,1) 0%, rgba(24,83,163,1) 100%);
background: linear-gradient(to bottom, rgba(0,166,185,1) 0%, rgba(24,83,163,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6b9', endColorstr='#1853a3', GradientType=0 );
}





.btn {
    background: none repeat scroll 0 0 #1fb5ad;
    color: #fff;
    border-color: #1fb5ad;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn {
    background-color: #1ca59e;
    border-color: #1ca59e;
    color: #FFFFFF;
}

.btn-border {
	background:none;
	border:2px solid #fff;
}

.btn-inverse {
	background: none repeat scroll 0 0 #555555;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #FFFFFF!important;
}

.btn-inverse:hover{
    background: none repeat scroll 0 0 #eaeaea;
    border-bottom: 1px solid rgba(150, 150, 150, 0.25);
    color: #111111!important;
}


.navbar-brand{
	color: #fff!important;
  font-size:28px;
  font-weight: 700;
}

.navbar-default {
	padding: 10px 0;
	background-color:#1fb5ad;
	border-bottom: 0;

}

.navbar-nav li.last{border-bottom:none !important;}

.navbar-nav > li > a > i, .navbar-default .navbar-nav > li > a {color:#fff;font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, #resMainMenu li.active>a {
	color:#F1F1F1;
}

.navbar-nav > li.sep:before{color:#eee;}

.navbar-nav ul li a {color:#fff;
}

.navbar-nav li.hover>a {color:#aaa;}

td {
  text-align: center;
  vertical-align: middle!important;
}

.date-data {
background-color:#35B5AC!important;
color:#fff
}

.first-attempt{background-color:#F6865D!important;
color:#fff}

.second-attempt{background-color:#A389DA!important;
color:#fff}

.header-table-data{background-color:#FAFAFA!important;}
  .btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.field-tip {
    cursor:default;
}
.field-tip .tip-content {
    position:absolute;
    right:9999px;
    width:130px;
    margin-right:-220px; /* width + left/right padding */
    padding:20px;
    color:#fff;
    background:#333;
    -webkit-box-shadow:2px 2px 5px #aaa;
       -moz-box-shadow:2px 2px 5px #aaa;
            box-shadow:2px 2px 5px #aaa;
    opacity:0;
    -webkit-transition:opacity 250ms ease-out;
       -moz-transition:opacity 250ms ease-out;
        -ms-transition:opacity 250ms ease-out;
         -o-transition:opacity 250ms ease-out;
            transition:opacity 250ms ease-out;
}
.field-tip .tip-content:before {
  content:' ';
  position:absolute;
  top:50%;
  left:-16px;
  width:0;
  height:0;
  margin-top:-8px;
  border:8px solid transparent;
  border-right-color:#333;
}
.field-tip:hover .tip-content {
  left: 250px;
  opacity:1;
}


.release-label {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 1px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
}
.release-label.latest {
  background-color: #6cc644;
}
.release-label a {
  color: #fff;
}
.release-titel span {
  color: #149EA6;
}
.release-meta {
  float: left;
  width: 20%;
  padding: 40px 20px;
  text-align: right;
  vertical-align: top;
}
.release-body {
  float: left;
  width: 80%;
  padding: 20px 20px;
  border-left: 2px solid #1FB5AD;
}
.tag-references {
  margin: 0;
  font-size: 13px;
  list-style-type: none;
}
.release .tag-references {
  margin-top: 8px;
}
.release .tag-references>li {
  display: block;
  margin: 0 0 5px;
}
.markdown-body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}



#tab-container
{
  float: left;
  // margin: 50px 0 0 0;
  width: 126px;
  height: 10px;
}

#tab-container ul
{
   list-style: none;
   text-align: center;
}

#tab-container ul li
{
   border-top: 1px solid #666;
   border-right: 1px solid #666;
   border-bottom: 1px solid #666;
   border-left: 8px solid #666;
   background-color: #ddd;
   margin: 8px 0;
}

#tab-container ul li a,
#tab-container ul li a:visited
{
   text-decoration: none;
   color: #666;
   display: block;
  //  padding: 15px 5px;
}

#tab-container ul li:hover
{
   border-left: 8px solid #333;
}

#tab-container ul li a:hover
{
   color: #000;
}

#tab-container ul li.selected
{
   border-right: none;
   background-color: #fff;
   border-left: 8px solid #006699;
}

#main-container
{
  margin: 0 0 0 125px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #888;
}

.tab-pane {
  margin: 0 0 22px 0;
}

.timepicker-picker {
  background-color: white;
  .glyphicon {
    height: 10px;
    line-height: 10px;
  }
}

.bootstrap-datetimepicker-widget table td {
  line-height: 10px;
}

.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 0px;
}
