.container.img-rounded#content{ style: 'min-height: 100%' }
  .row
    %h1.text-center
      %b
        Summary
    .col-lg-12#rpt-ctrl{ "data-ng-init" => "getSummaryReport()", "ng-app" => "reports", "ng-controller" => "RptCtrl" }
      %form.form-inline.text-center.paddingbottom10{ "ng-submit" => "getSummaryReport()" }
        - if browser.chrome?
          .form-group
            %label{:for => "select-month", 'ng-show' => 'showSelectMonth' } Select Month
            .input-group#selected_month{ style: 'padding-right: 50px', size: 30, 'ng-show' => 'showSelectMonth' }
              %input#selected-month.form-control{"ng-model" => "selectedMonth",
                                                 placeholder: "",
                                                 required: true,
                                                 type: "month"}/
          .form-group
            %label{:for => "start-week", 'ng-show' => 'showSelectWeek' } Start Week
            .input-group.report#start_week{ style: 'padding-right: 50px',
                                                 size: 30,
                                                 'ng-show' => 'showSelectWeek' }
              %input#start-week.form-control{"ng-model" => "startWeek",
                                             placeholder: "YYYY-W##",
                                             required: true,
                                             type: "week"}/
          .form-group
            %label{:for => "end-week", 'ng-show' => 'showSelectWeek' } End Week
            .input-group.report#end_week{ size: 30, 'ng-show' => 'showSelectWeek' }
              %input#end-week.form-control{ "ng-model" => "endWeek",
                                            placeholder: "YYYY-W##",
                                            required: true,
                                            type: "week" }/
          .form-group
            %label{:for => "start-date", 'ng-show' => 'showSelectDate' } Start Date
            .input-group.report#start_date{ style: 'padding-right: 50px',
                                                 size: 30,
                                                 'ng-show' => 'showSelectDate' }
              %input#start-date.form-control{"ng-model" => "startDate",
                                             placeholder: "",
                                             required: true,
                                             type: "date"}/
          .form-group
            %label{:for => "end-date", style: 'padding-left: 50px', 'ng-show' => 'showSelectDate' } End Date
            .input-group.report#end_date{ size: 30, 'ng-show' => 'showSelectDate' }
              %input#end-date.form-control{ "ng-model" => "endDate",
                                            placeholder: "",
                                            required: true,
                                            type: "date"}/
        - else
          .form-group
            %label{:for => "select-month", 'ng-show' => 'showSelectMonth' } Select Month
            .input-group.date#selected_month{ style: 'padding-right: 50px', size: 30, 'ng-show' => 'showSelectMonth' }
              %input#selected-month.form-control{"ng-model" => "selectedMonth",
                                                 placeholder: "",
                                                 required: true,
                                                 type: "month"}/
          .form-group
            %label{:for => "start-week", 'ng-show' => 'showSelectWeek' } Start Week
            .input-group.report.date#start_week{ style: 'padding-right: 50px',
                                                 size: 30,
                                                 'ng-show' => 'showSelectWeek' }
              %input#start-week.form-control{"ng-model" => "startWeek",
                                             placeholder: "YYYY-W##",
                                             required: true,
                                             type: "week"}/
          .form-group
            %label{:for => "end-week", 'ng-show' => 'showSelectWeek' } End Week
            .input-group.report.date#end_week{ size: 30, 'ng-show' => 'showSelectWeek' }
              %input#end-week.form-control{ "ng-model" => "endWeek",
                                            placeholder: "YYYY-W##",
                                            required: true,
                                            type: "week" }/
          .form-group
            %label{:for => "start-date", 'ng-show' => 'showSelectDate' } Start Date
            .input-group.report.date#start_date{ style: 'padding-right: 50px',
                                                 size: 30,
                                                 'ng-show' => 'showSelectDate' }
              %input#start-date.form-control{"ng-model" => "startDate",
                                             placeholder: "",
                                             required: true,
                                             type: "date"}/
          .form-group
            %label{:for => "end-date", style: 'padding-left: 50px', 'ng-show' => 'showSelectDate' } End Date
            .input-group.report.date#end_date{ size: 30, 'ng-show' => 'showSelectDate' }
              %input#end-date.form-control{ "ng-model" => "endDate",
                                            placeholder: "",
                                            required: true,
                                            type: "date" }/
        &nbsp;&nbsp;&nbsp;
        %button#submit.btn{ class: "{{ loading ? 'disabled' : '' }}", name: "OK", type: "submit" }
          %span{ "data-ng-hide" => "loading", id: 'generate_button' }
            Generate
          %span{ "data-ng-show" => "loading" }
            Please wait...
            %i.fa.fa-spinner.fa-pulse
      .tabs-left#tab-container
        %ul
          %li.selected
            %a{ "data-toggle" => "tab", href: "#a", reportBy: 'daily' } Daily
          %li
            %a{ "data-toggle" => "tab", href: "#b", reportBy: 'weekly' } Weekly
          %li
            %a{ "data-toggle" => "tab", href: "#c", reportBy: 'monthly' } Monthly
      .tab-content.img-rounded#main-container
        #a.tab-pane.active
          .table-responsive.box{ style: "min-height: 100%" }
            %table.table.table-hover.grid-divider
              %thead
                %tr
                  %th.text-center Date
                  %th.text-center Attempt
                  %th.text-center Uploaded Accounts
                  %th.text-center Answered
                  %th.text-center Unanswered
                  %th.text-center Rejected/Busy
                  %th.text-center Unreachable
                  %th.text-center Contact Rate
              %tbody.dark
                %tr#loader-container
                  %td.text-center{:colspan => "100%"}
                    .loader-data
              %tbody.dark{"ng-repeat" => "report in daily_reports"}
                %tr.header-table-data
                  %td.date-data.field-tip{ rowspan: "2",
                                           tooltip: "Uploaded at {{ report.upload | date:'medium' }}",
                                           tooltip_append_to_body: 'true',
                                           tooltip_placement: 'right',
                                           tooltip_class: 'tooltip-inner' }
                    %button.close.pull-left{ "ng-if" => "report.attempted == 0",
                                             "ng-click" => "removeTodo(report.process_date, $index)",
                                             :type => "button",
                                             data: { toggle: 'tooltip',
                                                     placement: 'right' } } &times;
                    %strong {{ report.process_date | date: 'MMMM dd, yyyy' }}
                  %td.text-center.first-attempt
                    %strong 1st
                  %td.text-center
                    %span {{ report.accounts }}
                  %td.text-center
                    %span {{ report.first_answered }}
                  %td.text-center
                    %span {{ report.first_unanswered }}
                  %td.text-center
                    %span {{ report.first_rejected_or_busy }}
                  %td.text-center
                    %span {{ report.first_unreachable }}
                  %td.text-center
                    %span {{ report.first_contact_rate }} %
                %tr
                  %td.text-center.second-attempt
                    %strong 2nd
                  %td.text-center
                    %span {{ report.first_unanswered + report.first_rejected_or_busy + report.first_unreachable }}
                  %td.text-center
                    %span {{ report.second_answered }}
                  %td.text-center
                    %span {{ report.second_unanswered }}
                  %td.text-center
                    %span {{ report.second_rejected_or_busy }}
                  %td.text-center
                    %span {{ report.second_unreachable }}
                  %td.text-center
                    %span {{ report.second_contact_rate }} %
            %div.col-lg-12.text-right
              .col-lg-4.text-left
                .pagination
                  = button_to("Download Report",
                              reports_generate_report_path,
                              class: 'btn btn-large',
                              'ng-show' => 'showLink',
                              method: :get,
                              id: 'downloadLink',
                              params: { dl_type: 'daily',
                                        dl_start_date: Time.now.beginning_of_day,
                                        dl_end_date: Time.now.end_of_day })
              .col-lg-8
                %pagination{ "boundary-links" => "true",
                             "items-per-page" => "itemPerPage",
                             "max-size" => "maxSize",
                             "ng-change" => "pageChanged()",
                             "ng-model" => "currentPage",
                             "num-pages" => "numPages",
                             rotate: "false",
                             "total-items" => "totalItems",
                             class: '' }
        #b.tab-pane
          .table-responsive.box{ style: "min-height: 100%" }
            %table.table.table-hover.grid-divider
              %thead
                %tr
                  %th.text-center Date
                  %th.text-center Attempt
                  %th.text-center Uploaded Accounts
                  %th.text-center Answered
                  %th.text-center Unanswered
                  %th.text-center Rejected/Busy
                  %th.text-center Unreachable
                  %th.text-center Contact Rate
              %tbody.dark
                %tr#loader-container.weekly
                  %td.text-center{:colspan => "100%"}
                    .loader-data
              %tbody.dark{"ng-repeat" => "report in weekly_reports"}
                %tr.header-table-data
                  %td.date-data.field-tip{ rowspan: "2",
                                           tooltip: "Uploaded at {{ report.upload | date:'medium' }}",
                                           tooltip_append_to_body: 'true',
                                           tooltip_placement: 'right',
                                           tooltip_class: 'tooltip-inner' }
                    %strong {{ report.process_date | date: 'MMMM dd, yyyy' }}
                  %td.text-center.first-attempt
                    %strong 1st
                  %td.text-center
                    %span {{ report.accounts }}
                  %td.text-center
                    %span {{ report.first_answered }}
                  %td.text-center
                    %span {{ report.first_unanswered }}
                  %td.text-center
                    %span {{ report.first_rejected_or_busy }}
                  %td.text-center
                    %span {{ report.first_unreachable }}
                  %td.text-center
                    %span {{ report.first_contact_rate }} %
                %tr
                  %td.text-center.second-attempt
                    %strong 2nd
                  %td.text-center
                    %span {{ report.first_unanswered + report.first_rejected_or_busy + report.first_unreachable }}
                  %td.text-center
                    %span {{ report.second_answered }}
                  %td.text-center
                    %span {{ report.second_unanswered }}
                  %td.text-center
                    %span {{ report.second_rejected_or_busy }}
                  %td.text-center
                    %span {{ report.second_unreachable }}
                  %td.text-center
                    %span {{ report.second_contact_rate }} %
            %div.col-lg-12.text-right
              .col-lg-4.text-left
                .pagination
                  = button_to("Download Report",
                              reports_generate_report_path,
                              class: 'btn btn-large',
                              'ng-show' => 'showLink',
                              method: :get,
                              id: 'downloadLink',
                              params: { dl_type: 'weekly',
                                        dl_start_date: Time.now.beginning_of_day,
                                        dl_end_date: Time.now.end_of_day })
              .col-lg-8
                %pagination{ "boundary-links" => "true",
                             "items-per-page" => "itemPerPage",
                             "max-size" => "maxSize",
                             "ng-change" => "pageChanged()",
                             "ng-model" => "currentPage",
                             "num-pages" => "numPages",
                             rotate: "false",
                             "total-items" => "totalItems",
                             class: '' }
        #c.tab-pane
          .table-responsive.box{ style: "min-height: 100%" }
            %table.table.table-hover.grid-divider
              %thead
                %tr
                  %th.text-center Date
                  %th.text-center Attempt
                  %th.text-center Uploaded Accounts
                  %th.text-center Answered
                  %th.text-center Unanswered
                  %th.text-center Rejected/Busy
                  %th.text-center Unreachable
                  %th.text-center Contact Rate
              %tbody.dark
                %tr#loader-container.monthly
                  %td.text-center{:colspan => "100%"}
                    .loader-data
              %tbody.dark{"ng-repeat" => "report in monthly_reports"}
                %tr.header-table-data
                  %td.date-data.field-tip{ rowspan: "2",
                                           tooltip: "Uploaded at {{ report.upload | date:'medium' }}",
                                           tooltip_append_to_body: 'true',
                                           tooltip_placement: 'right',
                                           tooltip_class: 'tooltip-inner' }
                    %strong {{ report.process_date | date: 'MMMM dd, yyyy' }}
                  %td.text-center.first-attempt
                    %strong 1st
                  %td.text-center
                    %span {{ report.accounts }}
                  %td.text-center
                    %span {{ report.first_answered }}
                  %td.text-center
                    %span {{ report.first_unanswered }}
                  %td.text-center
                    %span {{ report.first_rejected_or_busy }}
                  %td.text-center
                    %span {{ report.first_unreachable }}
                  %td.text-center
                    %span {{ report.first_contact_rate }} %
                %tr
                  %td.text-center.second-attempt
                    %strong 2nd
                  %td.text-center
                    %span {{ report.first_unanswered + report.first_rejected_or_busy + report.first_unreachable }}
                  %td.text-center
                    %span {{ report.second_answered }}
                  %td.text-center
                    %span {{ report.second_unanswered }}
                  %td.text-center
                    %span {{ report.second_rejected_or_busy }}
                  %td.text-center
                    %span {{ report.second_unreachable }}
                  %td.text-center
                    %span {{ report.second_contact_rate }} %
            %div.col-lg-12.text-right
              .col-lg-4.text-left
                .pagination
                  = button_to("Download Report",
                              reports_generate_report_path,
                              class: 'btn btn-large',
                              'ng-show' => 'showLink',
                              method: :get,
                              id: 'downloadLink',
                              params: { dl_type: 'monthly',
                                        dl_start_date: Time.now.beginning_of_day,
                                        dl_end_date: Time.now.end_of_day })
              .col-lg-8
                %pagination{ "boundary-links" => "true",
                             "items-per-page" => "itemPerPage",
                             "max-size" => "maxSize",
                             "ng-change" => "pageChanged()",
                             "ng-model" => "currentPage",
                             "num-pages" => "numPages",
                             rotate: "false",
                             "total-items" => "totalItems",
                             class: '' }
        / /tab-content
      / /tabbable
    / /col
  / /row
/ /container
