.col-lg-3
.col-lg-6{"data-ng-init" => "getSmsReceivedReportsByDate()", "ng-app" => "reports", "ng-controller" => "RptCtrl"}
  %h3.paddingbottom10 SMS Received
  / <div style="visibility: hidden; height:0px">{{ reports = <haml_loud>@reports.to_json</haml_loud> }}</div>
  %form.form-inline.paddingbottom10{"ng-submit" => "getSmsReceivedReportsByDate()"}
    %label{:for => "report-date-from"} From
    .input-group.date
      %input#report-date-from.form-control{"ng-model" => "filterDateFrom", :placeholder => "", :required => "", :type => "text"}/
      .input-group-addon
        %i.fa.fa-calendar
    %label{:for => "report-date-to"} To
    .input-group.date
      %input#report-date-to.form-control{"ng-model" => "filterDateTo", :placeholder => "", :required => "", :type => "text"}/
      .input-group-addon
        %i.fa.fa-calendar
    %button#submit.btn.:{:class => "{{loading ? 'disabled' ''}}", :name => "OK", :type => "submit"}
      %span{"data-ng-hide" => "loading"}
        OK
      %span{"data-ng-show" => "loading"}
        Please wait...
        %i.fa.fa-spinner.fa-pulse
  .table-responsive.box
    %table.table.table-hover.table-striped
      %thead
        %tr
          %th.text-center Date
          %th.text-center SMS Received
      %tbody.dark
        %tr#loader-container
          %td.loader-data.text-center{:colspan => "8"}
            %i.fa.fa-spinner.fa-pulse.fa-3x
        %tr{"ng-repeat" => "report in reports"}
          %td
            %strong {{ report.process_date | date:'MMMM dd, yyyy' }}
          %td.text-center
            %a{:href => "/reports/download_messages?date={{ report.process_date | date:'yyyy-MM-dd'}} "}
              %span.text-primary {{ report.sms_total }}
  %nav.navbar-right
    %pagination{"boundary-links" => "true", "items-per-page" => "itemPerPage", "max-size" => "maxSize", "ng-change" => "smsPageChanged()", "ng-model" => "currentPage", "num-pages" => "numPages", :rotate => "false", "total-items" => "totalItems"}
.col-lg-3
