!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kopi VBB
    = stylesheet_link_tag    'application', media: 'all'
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"}
    = javascript_include_tag '/javascripts/reports_controller.js'
    = javascript_include_tag '/javascripts/send_sms_controller.min.js'
    = javascript_include_tag 'application'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = csrf_meta_tags
  %body
    / Navigation
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            Kopi VBB
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          - if user_signed_in?
            %ul.nav.navbar-nav
              %li
                %a{:href => "/"} Upload CSV
              %li
                %a{:href => "/reports"} Blasting Summary
              %li
                %a{:href => "/reports/selected-options"} Selected Options
              / <li><a href="/reports/sms-sent">SMS SENT</a></li>
              / <li><a href="/reports/sms-received">SMS RECEIVED</a></li>
          .nav.navbar-nav.navbar-right
            %ul.nav.navbar-nav
              %li
                %p{:style => "padding-left:30px;padding-top: 13px;color:#fff"}
                  - if user_signed_in?
                    = current_user.email
                    ,
                    Not you?
                    %u
                      %strong= link_to "Sign out", destroy_user_session_path, :method => :delete
    / Navigation End
    / Content
    - if params[:controller] == "globe_cloud_users" && params[:action] == "new"
      .container.paddingtop20
    - else
      .container.paddingtop100.paddingbottom40
        .row
          - flash.each do |key, value|
            %div{:class => "alert alert-#{key == 'alert' ? 'danger' : key}", :role => "alert"}= value
          / Content
          = yield
          / Content End
      / Content End
      / Footer
      %footer.footer
        .container
          %p.text-muted.text-center
            Kopi v2.1
            |
            %a{:href => "/home/release"} Release Notes
      / Footer End
